body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5rem;
}

#header-logo {
  max-height: 20vw;
  width: auto;
}

#header-text {
  max-height: 12vw;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.6rem;
}

.text-field,
p {
  color: black;
  background-color: white;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50vw;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#submit-button {
  background-color: yellow;
  color: darkred;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
}

#clear-button {
  background-color: darkred;
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
}

.results,
.results-container,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  height: 2rem;
  font-size: 1.8rem;
}

.output {
  padding: 0.2rem 0.3rem 0.2rem 0.5rem;
}
