* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/pizza_bg.png");
  background-size: cover;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

header {
  background-color: black;
  min-width: 98vw;
  margin: -5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.2rem;
}

#header-logo {
  max-height: 20vw;
  width: auto;
}

#header-text {
  max-height: 12vw;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  margin-bottom: 0.6rem;
}

.text-field,
p {
  color: black;
  background-color: white;
  border-radius: 8px;
}

button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 50vw;
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-self: center;
  border-radius: 8px;
  border: solid white 1px;
}

#submit-button,
#clear-button {
  background-color: rgb(139, 0, 0);
  color: white;
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  max-width: 60%;
}

.form-box {
  border: solid 3px rgba(255, 245, 0, 0.8);
  border-radius: 10px;
  margin: 16px 0 16px 0;
  max-width: 99%;
  padding-top: 5px;
}

#results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  position: absolute;
  left: 10%;
  width: 80%;
  opacity: 0.01;
}

input {
  height: 2rem;
  font-size: 1.6rem;
  max-width: 90%;
  margin: 10px 0 10px 0px;
  text-align: center;
}

input:last-child {
  margin-bottom: 20px;
}

.resultsDiv {
  border: solid 3px rgba(255, 245, 0, 0.8);
  padding: 5px;
  margin: 5px 5px 20px 5px;
  border-radius: 12px;
}

.resultsDiv h2 {
  font-size: 1.6rem;
  color: rgba(255, 245, 0, 0.8);
}

.output {
  padding: 0.5rem;
  margin: 20px;
  border-radius: 6px;
}

@media (min-width: 800px) {
  header {
    height: 22vh;
    justify-content: center;
    margin-bottom: 0.4rem;
  }
  header img {
    padding-top: 10px;
    height: 140px;
    width: auto;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  form,
  #submit-button {
    justify-self: center;
    font-size: 1rem;
    max-width: 90%;
  }
  label {
    margin: 0;
  }
  #submit-button,
  #clear-button {
    max-width: 50%;
    font-size: 1rem;
  }
  input {
    max-width: 10vw;
    margin-bottom: 5px;
  }
  #results-container {
    grid-column: 2/-1;
    font-size: 0.8rem;
    h2 {
      font-size: 1rem;
    }
  }
  .results-div {
    margin-bottom: -50;
    padding: 0;
  }

  .results-label {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.6rem;
    color: white;
    position: absolute;
    left: 48.8vw;
  }
  .results-arrow {
    height: 0;
    width: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 25px solid white;
    position: absolute;
    left: 51.6vw;
  }
}
